#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

#title{
   
    margin-bottom: 0;
    text-align: center;
}
#title h1{
  font-size: 4rem;
}
#img-div{
    background: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 20%;
 text-align: center;
}

#image{
    margin: 0 auto;
    max-width: 90%;
    display: block;
    height:auto;
}

#img-caption{
    margin: 15px 0 5px 0;
}


#tribute-info{
    display: block;
}

#tribute-link{
    color: #477ca7;
}